.item {
  min-width: 470px;
  max-width: 470px;
  margin: 3px;
  border-radius: 10px;
}


.text-item {
  margin-bottom: 10px;
}

.text-value {
  font-size: 16px;
}

.text-icon {
  padding-top: 4px;
  margin-right: 16px;
  font-size: 24px;
}

.license-plate {
  display: flex;
  justify-content: center;
  color: hsl(198, 100%, 45%);
}

.base-btn {
  background: #00648f;
  color: white;
  margin-left: -8px;
  margin-bottom: 15px;

  i {
    font-size: 18px;
    vertical-align: baseline;
  }
}