.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.save {
    background-color: #19b819 !important;
    color: white;
}

.cancel {
    background-color: #b90f0f !important;
    color: white;
}

button[disabled="true"] {
    background-color: silver !important;
    color: gray;
}

::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
}